h1,h2,ul,li,div,a,p{
    margin:0px; padding:0px;
}

/*기본메뉴 설정*/
ul.skipmenu_list li a,.hidden{
    width:1px; height:1px; font-size:0px; line-height:0px; position:absolute; z-index:99999999px;
}
ul.skipmenu_list li a:focus{
    width:100%; height:30px; font-size:12px; line-height:30px; background:black; color:white; text-align:center; text-decoration:none;
}

/*기본메뉴 끝*/

/*상단메뉴 설정*/
div#header_wrap{
    width:100%; height:128px; float:left; background:#f5720f;
    overflow: hidden;
}
header#header_inner{
    width:1200px; height:100%; margin:0px auto; 
    position:relative;
}
h1#logo{
    width:89px; height:91px; position:absolute; left:0px; top:50%; margin-top:-45px;
}
nav#mainmenu{
    width:740px; height:25px; position:absolute; top:50%; margin-top:-12px;
    left:120px;     
}
ul#mainmenu_list{
    width:100%; height:100%; float:left;
}
ul#mainmenu_list li{
    width:16.66%;  float:left; text-align:center; 
}

ul#mainmenu_list li:nth-child(1){
    text-indent:-15px;
}
ul#mainmenu_list li:nth-child(5){
    text-indent:30px;
}
ul#mainmenu_list li:nth-child(6){
    text-indent:-30px;
}

ul#mainmenu_list li a {
    font:normal 1.125em "Noto Sans KR"; 
    color:#ffffff; text-decoration:none; letter-spacing:1px;
}
ul#mainmenu_list li a:hover{
   color:#f5720f;  background:black;
}
p#shop{
    width:91px; height:33px; position:absolute; right:0px; top:50%; margin-top:-16px;    
}
p#mobilemenu{
    width:36px; height:27px; position:absolute; top:50%;
    left:0px; margin-top:-13px; display:none;
}

/*상단메뉴 끝*/

/*비쥬얼영역 시작*/
div#visual_wrap{
    width:100%; height:640px; float:left; background:url("/images/main_image/header_bar01.gif") repeat-x; 
    position:relative; margin:0px auto; overflow:hidden;
}
ul#visual_list{
    width:2450px; height:640px; position:absolute; left:50%; margin-left:-1225px; top:0px; 
}
ul#visual_list li{
    width:714px; float:left; margin-right:154px; 
}
ul#visual_list li:last-child{
    margin-right:0px; 
}
/* p.visual_text{
    font:bold 1em/16px "Noto Sans KR"; color:#ffffff; 
} */

div#visual_inner{
    width:854px; position:absolute; left:50%; margin-left:-427px;
    top:247px; 
}
a#arrow_preview{
    width:41px; height:41px; float:left
}
a#arrow_next{
    width:41px; height:41px; float:right
}
/*비쥬얼영역 끝*/

/*배너 시작*/
div#banner_wrap{
    width:100%; height:174px; float:left; background:#1b468d; 
    overflow: hidden;
    
}
div#banner_inner{
    width:820px; height:100%; margin:0px auto; position:relative; 
}
a#banner_text{
    display:block;  height:26px;
    font:bold 2em/26px "Open Sans"; 
    color:#ffffff; text-decoration:none; 
    position:absolute; top:50%; margin-top:-13px; 
}
a#banner_text span{
   color:#299328;  
}
a#banner_image{
    width:196px; height:174px; position:absolute; right:0px;
}

/* a#banner_image img{
    width:100%; 
} */


/*배너 끝*/

/*인트로 시작*/
div#intro_wrap{
    width:100%; height:461px; float:left; 
    background:url("/images/intro_background.gif");
    background-size:cover; 
    overflow: hidden;
}

div#intro_text{
    width:482px; position:relative; 
    margin:0px auto; margin-top:64px; 
    font-size:16px; 

}
h1.title{
    font:bold 1.750em/28px "Noto Sans"; color:#000000; 
    text-align:center; margin-bottom:23px; 
}
h2.sub_title{
    font:normal 1em/16px "Noto Sans KR"; color:#000000; opacity:0.76; 
    text-align:center; line-height:21px;
}

div#intro_contents{
   width:1022px; height:190px; position:relative;
   margin:0px auto; margin-top:70px; 
}

ul#intro_list{
    width:100%; height:100%;
}

ul#intro_list li{
    width:33.3%;  float:left; 
 }

div.intro_won{
    width:183px; height:183px; border-radius:91px; 
    background:#000000; box-sizing:border-box;
    position:relative; margin:0px auto; 
    font-size:16px;
}

p.intro_won_text{
    width:123px; height:48px; 
    position: absolute; left:50%; margin-left:-61px;
    top:50%; margin-top:-24px;
    font:normal 1.5em/24px "Noto Sans KR"; color:#ffffff;
    text-align:center; 
   
}
    
p.intro_won_text span{
    font:normal 0.667em/16px "Noto Sans KR"; display:block;
    margin-top:15px
}

/*인트로 끝*/


/*NEWEST 시작*/
div#newest_wrap{
    width:100%; height:697px; float:left; background:#ffffff;
    margin:0px auto; position:relative; overflow: hidden;
}

div#newest_text{
    width:355px; position:relative; margin:0px auto; 
    margin-top:65px; 
}
ul#newest_list{
    width:1100px; height:380px; position:relative; margin:0px auto;  
    margin-top:40px;
}
ul#newest_list li {
    width:253px; height:380px; float:left; margin-right:29px;
}
ul#newest_list li:last-child{
    margin-right:0px;
}
ul#newest_list li a{
    display:block; width:89px; height:30px; 
    background:#3b1fc2; font:bold 0.875em/30px "Noto Sans"; 
    color:white;
    text-align:center; text-decoration:none; position:relative;
    left:-7px; top:-41px;   
}

div#newest_arrow{
    width:1200px; height:40px; position:absolute; 
    left:50%; margin-left:-600px; top:360px; 
}

a#newest_arrow_preview{
    width:40px; height:40px; position:absolute; left:0px;
}

a#newest_arrow_next{
    width:40px; height:40px; position:absolute; right:0px; 
}

ul#newest_dot{
    width:92px; height:14px; position:relative;
    margin:0px auto; margin-top:53px; 
}

ul#newest_dot li{
    width:14px; height:14px; border-radius:7px; 
    border:solid 2px black; float:left; margin-right:12px;
    box-sizing:border-box; 
}
ul#newest_dot li:last-child{
    margin-right:0px;
}


/*NEWEST 끝*/


/*recommend시작*/

div#recommend_wrap{
    width:100%; height:587px; float:left; overflow:hidden;
    position:relative; margin:0px auto; background:#eaeaea;

}
div#recommend_text{
   width:360px; margin:66px auto; margin-bottom:41px; 
}

ul#recommend_list{
    width:1764px; height:280px; position:absolute;
    left:50%; margin-left:-882px; top:191px; 
}

ul#recommend_list li{
    width:280px; height:280px; margin-right:91px; float:left; 
}

ul#recommend_list li:last-child{
    margin-right:0px;
}
div#recommend_scroll{
    width:1022px; height:5px; position:absolute; left:50%; 
    margin-left:-511px; bottom:66px; 
}
p#scroll_line{
    width:100%; height:3px; float:left; 
}
p#scroll_bar{
    width:130px; height:5px; position:absolute; left:0px; 
}
/*recommend끝*/

/*collabo시작*/

div#collabo_wrap{
    width:100%; height:590px; float:left; background:#ffffff;
    overflow: hidden;
}


div#collabo_inner{
    width:1200px; height:100%; 
    position:relative; margin:0px auto;
     
} 
div#collabo_contents_wrap{
    width:482px; height:100%; margin-right:70px; 
    float:left;
}

div#collabo_contents{
    width:482px;  position:relative; 
    margin:0px auto; margin-top:86px; 
}

div#collabo_text{
    width:482px;  position: relative; margin:0px auto; 
    margin-bottom:26px; 
    
}
ul#collabo_sub_img_list{
    width:482px; height:193px; 
    position:relative; margin:0px auto;
}
ul#collabo_sub_img_list li{
    width:151px; height:193px; margin-right:14px; float:left;
}

ul#collabo_sub_img_list li:last-child{
    margin-right:0px;
}

a#collabo_detail_button{
    display:block; width:125px; height:34px; 
    background:#3b1fc2; font:bold 1em/34px "Noto Sans"; color:white;
    text-align:center; text-decoration:none; position:relative;
    margin:22px auto; 
}

div#collabo_visual_wrap{
    width:auto; margin-left:552px; height:590px; 
}

div#collabo_visual_inner{
    width:100%; height:399px; margin-top:66px; float:left;
    background-image:url("/images/main_image/collabo_main_img01.gif");
    background-size:cover;
    
}



/*collabo끝*/

/*footer시작*/

div#footer_wrap{
    width:100%; height:132px; float:left; background:#ab500b;
    overflow: hidden;
    
}
div#footer_inner{
    width:1200px; height:100%; position:relative; margin:0px auto;
}
p#footer_logo{
    width:252px; height:39px; position: absolute;
    left:50%; margin-left:-126px; top:50%; margin-top:-19px;
}



/*footer끝*/
